$color-light:#d3dce6;
$color-mid:#99a9bf;
$color-main:#759EB8;

$color-blue:#97d6f6;
$color-pink:#f8d8d6;
$color-bblue:#124058;
$color-white:#ffffff;
$color-lightgray:#dadada;
$color-gray:#787878;